/* font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* estilização global para tirar borda branca */
* {
margin: 0px;
font-family: 'poppins', 'sans-serif';
scroll-behavior: smooth;
}


/* Estilizando o cabeçalho */
header {
    padding: 50px 70px;
    background-color: #eee;
    position: sticky;/*faz com que o elemento fique fixo na tela quando o usuário rolar a página*/ 
    top: 0; /*define que o elemento ficará preso ao topo da tela (0px de distância do topo)*/
    left: 0; /*define o alinhamento à esquerda da página, mantendo 0px de distância*/
    z-index: 1; /*controla a sobreposição do elemento sobre outros elementos da página*/
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header img {
    width: 50px;
}


header nav ul {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 30px;
}

nav ul li {
    list-style: none;
}

nav a {
    text-decoration: none;
    color: black;
}

/* estilizando ancoras ao passar o mouse */
nav a:hover {
    color: #727272;
}

.div1-header {
    display: flex;
    align-items: center;
    gap: 20px;
}
/* estilização do botão */
header button {
    background-color: #f9ea0a;
    border: none;
    border-radius: 80px;
    padding: 8px;
    width: 88px;
}

header button:hover {
    background-color: #aaaaaa;
    transition: 0.3s;
}

header button:active {
    padding: 13px;
    background-color: #e0e0e0
}

/* background */
.div1-section1 {
    background-image: url(img/banner.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    padding: 70px;
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* caixa da form */
.div2-section1 {
    background-color: #dfdfdf7e;
    border: 1.5px solid #eeeeee85;
    border-radius: 40px;
    width: 70%;
    padding: 70px;
}


/* alinhando a form */
.div2-section1 form {
    display: flex;
    align-items: end;
    justify-content: space-between;
}

.div2-section1 form div {
    display: flex;
    flex-direction: column;
}

/* estilização input e select */
.div2-section1 input,select {
    padding: 15px;
    border: none;
    border-radius: 10px;
    background-color: #115dcf;
    color: #eee;
}

.div2-section1 select:hover,input:hover {
    background-color: #dfdfdf7e;
    color: black;
    transition: 0.3s;
}

/* estilização whatsapp */
.div-whatsapp { /* div que guarda o icon whatsapp */
    position: fixed; /* posicionamento fixo */
    right: 25px; /* posição a direita */
    bottom: 45px; /* posição a baixo */
}

.div-whatsapp img{ /* estilização do icon whatsapp */
    width: 55px; /* largura do icone */
    transition: 0.3s;
}

.div-whatsapp img:hover {
    transform: scale(1.05);
}


/* estilização da section2 */
.section2 {
    padding: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: space-between;
}

.section2 button {
    margin-top: 40px;
    background-color: #f9ea0a;
    border: none;
    border-radius: 80px;
    padding: 12px;
    font-weight: 800;
    font-size: large;
}

.section2 button:hover {
    background-color: #aaaaaa;
    transition: 0.3s;
}

.section2 h2 {
    font-size: 2rem;
}
.section2 span {
    color: #115dcf;
    font-size: large;
}

/* dando margem no scroll para não cortar o paragrafo ao clicar no nav */
#sobre{
    scroll-margin-top: 120px;
}

/* criando cards */
.section3 {
    padding: 70px;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.section3 div {
    padding: 20px;
    width: 200px;
    height: 220px;
    background-color: #0b326d;
    color: #eee;
    border-radius: 40px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.534);
    transition: 0.3s;
}

.section3 div:hover {
    width: 230px;
    transition: 0.3s;
}

.section3 p {
    color: #849cb4;
}

.section3 .fa-solid {
    font-size: x-large;
    color: #849cb4;
}

/* estilizando section 4 */

.section4 {
    padding: 70px;
    display: flex;
    align-items: end;
    justify-content: space-evenly;
}

.div1-section4{
    width: 650px;
    height: 300px;
    border-radius: 40px;
    background-color: #bdbdbd75;
    display: flex;
    align-items: center;
    gap: 10px;
}
.img-div1-section4 {   
    width: 800px;
    height: 100%;
    background-image: url(img/newyork.jpg);
    background-size: cover;
    background-position: left;
    background-repeat: no-repeat;
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
}

.div2-section4{
    width: 650px;
    height: 300px;
    border-radius: 40px;
    background-color: #bdbdbd75;
    display: flex;
    align-items: center;
    gap: 10px;
}
.img-div2-section4 {   
    width: 800px;
    height: 100%;
    background-image: url(img/barcelona.jpg);
    background-size: cover;
    background-position: left;
    background-repeat: no-repeat;
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
}

.section4 p,h3 {
    font-size: 1.1  rem;
}

.section4 .div1-section4,.div2-section4 {
    transition: 0.3s;
}

.section4 .div1-section4:hover,.div2-section4:hover {
    width: 700px;
    transition: 0.3s;
} 

/* estilização section5 */
.section5 {
    padding: 70px;

}


/* Estilização do footer */
footer {
    background-color: #eee;
    padding: 30px 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

footer div{
    font-size: 2em;
}

footer .fa-brands:hover,.fa-regular:hover {
    color: #115dcf;
    transition: 0.2s;       

}




/* .color1 { #f9ea0a };
.color2 { #66aff0 };
.color3 { #115dcf };
.color4 { #849cb4 };
.color5 { #c8d4b0 }; */